version: "3.7"
services:
  app:
    build:
      context: ./
    restart: unless-stopped
    container_name: meuSiteFront
    expose:
      - "80"
    networks:
      - network

  nginx:
    image: nginx:stable-alpine
    networks:
      - network
    ports:
      - "8080:80"
    volumes:
      - ./.docker-compose/proxy.conf:/etc/nginx/nginx.conf

networks:
  network:
    driver: bridge
